# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# Memory file is auto-created on first run; keep the directory.
backend/memory/memory.json

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
